import { MigrationInterface, QueryRunner } from 'typeorm';
{{#if isCreate}}

import { TableFacade } from '@base';
{{/if}}

export class {{ className }} implements MigrationInterface {
  {{#if isCreate}}
  public async up(queryRunner: QueryRunner): Promise<void> {
    await queryRunner.createTable(
      new TableFacade('{{ tableName }}').create((table) => {})
    );
  }
  {{else}}
  public async up(queryRunner: QueryRunner): Promise<void> {}
  {{/if}}

  {{#if isCreate}}
  public async down(queryRunner: QueryRunner): Promise<void> {
    await queryRunner.dropTable('{{ tableName }}');
  }
  {{else}}
  public async down(queryRunner: QueryRunner): Promise<void> {}
  {{/if}}
}
